<h3>Категории</h3>

<ul class="articles-cats">
    {% for category in entries('posts', 'categories').where('slug', '!=', 'news').get() %}
        <li>
            <a href="{{ url(category.path) }}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>
