<footer class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0">
            <div class="wrap">
                <div class="title">Информация</div>
                <div class="cont">
                    <ul>
                        {% for link in links('footer_info').get() %}
                            <li>
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0">
            <div class="wrap">
                <div class="title">Услуги</div>
                <div class="cont">
                    <ul>
                        {% for link in links('footer_services').get() %}
                            <li>
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0">
            <div class="wrap">
                <div class="title">Новости</div>
                <div class="cont">
                    <ul>
                        {% for post in entries('posts', 'posts').orderBy('created_at', 'DESC').type('default').get().slice(0, 4) %}
                            <li>
                                <a href="{{ url('articles/news/' ~ post.slug) }}">
                                    {{ post.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{{ url('news') }}">Еще новости...</a>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0 contacts-page">
            <div class="wrap">
                <div class="title">Контакты</div>
                <div class="cont">
                    <div class="address block">
                        <i class="fa fa-map-marker"></i>
                        <div class="text">
                            Адрес:<br>
                            г. Санкт-Петербург, пр.Пархоменко, д.29
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="phone block">
                        <i class="fa fa-phone"></i>
                        <div class="text">
                            Телефон:<br>
                            <span class="ya-phone">+7 (812) 297-11-11</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="fax block">
                        <i class="fa fa-fax"></i>
                        <div class="text">
                            Факс:<br>
                            +7 (812) 297-93-93
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="email block">
                        <i class="fa fa-envelope"></i>
                        <div class="text">
                            E-mail:<br>
                            <span class="blue reverse">
                                moc&#46;<span class="dummy">yandex.ru</span>liamg&#64;<span class="dummy">mail.ru</span>bpspmcm
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="time block">
                        <i class="fa fa-clock-o"></i>
                        <div class="text">
                            Время работы:<br>
                            {{ variable_value('main', 'work_time')|raw }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="bottom">
    <div class="container">
        <div class="text row">
            <div class="col-xs-6">
                <div class="copy">&copy; {{ date('now').format('Y') }} Международный Центр Медицинской Профилактики</div>
            </div>
            {# <div class="col-xs-4">
                <div class="credit">
                    Мы принимаем:&nbsp;&nbsp;&nbsp;
                    <img src="/img/cards_small.png" alt="Медицинские анализы">
                </div>
            </div> #}
            {# <div class="col-xs-2">
                <a class="sitemap" href="">Карта сайта</a>
            </div> #}
        </div>
    </div>
</div>
