<header class="container">
    <div class="row header-top">
        <div class="header-logo">
            <a title="MCMP" href="{{ url('/') }}">
                <img width="212" height="51" alt="MCMP" src="{{ image('local://images/logo.png').url }}" class="logo">
            </a>
        </div>
        {# [[-<div class="search-form">[[!SimpleSearchForm? &landing=`354`&tpl=`searchFormTpl`]]</div> -]] #}
        <div class="header-phone">
            {# <div class="phone ya-phone"><i class="fa fa-phone"></i> +7 (812) 297-11-11</div> #}
            <div class="header-appointment">
            {# [[$popupAppointment]] #}
            </div>
        </div>
        <div class="header-address">
            <div class="addr">
                {# <a title="Контакты" href="{{ url('contacts') }}" class="header-contact_link">
                    <i class="fa fa-map-marker"></i> г. Санкт-Петербург,<br>
                    <span class="header-metro">Площадь Мужества</span><br>
                    пр.Пархоменко, д.29<br>
                    <span class="header-hours">{{ variable_value('main', 'work_time')|raw }}</span>
                </a> #}
            </div>
        </div>
        <div class="modal-open-box hidden" data-modal-open>
            <div class="inner">
                <div class="open-modal">
                    Записаться на прием
                </div>
            </div>
        </div>
        {% include 'theme::partials/modal' %}
        <div class="clearfix"></div>
    </div>
    <div class="row header-bottom">
        {% include 'theme::partials/top-menu' %}
    </div>
</header>
