{# Generated JS #}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/main.js"></script>

{# Telephony #}
{#  <script src="https://cdn.callibri.ru/callibri.js" type="text/javascript"></script>  #}
