<div class="row">
    {% for item in list %}
        <div class="col-md-4 col-sm-6 col-xs-12 text-center">
            <a href="{{ item.path }}">
                <img src="{{ item.kartinka_kategorii.url }}" alt="{{ item.title }}">
            </a>
        </div>
    {% endfor %}
</div>
