<div class="slider-wrap">
    <div id="slider" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
        {% for slide in slides %}
            <div class="item {{ slide.image.name|replace({'.':'-'}) }}">
                <div class="slide-item" style="background: url({{ slide.image.url }});">
                <div class="float-price" style="font-size: 1.9rem; color: #26C6DA; left: {{ slide.left }}px; top: {{ slide.top }}px;"
                >от {{ slide.price }} руб</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="owl-controls">
        <div class="owl-buttons"></div>
    </div>
</div>
<div class="clearfix"></div>
<br>
