<!-- Meta Tags -->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Locale -->
<meta http-equiv="Content-Language" content="{{ config('app.locale') }}">

<!-- To the Future! -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="generator" content="{{ config_get('streams::distribution.name') }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="{{ trans(template.meta_description) }}"/>
<meta name="theme-color" content="#00bbd3">

<meta name="google-site-verification" content="sltAmtr61gc5KLtMaWZE6q6WkUJj0xRFm5fDUg6JMqg" />
<meta name="yandex-verification" content="642aac03f23cfa7d" />

<meta property="og:site_name"
      content="{{ setting_value('streams::name', config_get('streams::distribution.name')) }}"/>
<meta property="og:description" content="{{ trans(template.meta_description) }}"/>
<meta property="og:title" content="{{ trans(template.meta_title) }}"/>
<meta property="og:url" content="{{ url_current() }}"/>
<meta property="og:type" content="website"/>

<title>
    {{ trans(template.meta_title) }}
    {% set p = request_query('page') %}
    {% if p %}Страница {{ p }}{% endif %}
</title>

<!-- Favicon -->
{#<link rel="shortcut icon" href="{{ image('theme::img/favicon.png') }}" type="image/png">#}

<link href="https://fonts.googleapis.com/css?family=Exo+2:300,700&amp;subset=cyrillic" rel="stylesheet">

<link rel="stylesheet" href="/css/theme.css">

{{ constants() }}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WKQSHQT');</script>
<!-- End Google Tag Manager -->

{# Google Tag Manager (noscript) #}
<noscript>
    <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WKQSHQT"
        height="0"
        width="0"
        style="display:none;visibility:hidden">
    </iframe>
</noscript>
{# End Google Tag Manager (noscript) #}

<script
    src="//api-maps.yandex.ru/2.1.50/?lang=ru-RU"
    type="text/javascript"
></script>

