<div id="static-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">Запись на прием</h4>
            </div>
            <div class="modal-body">
                {% include 'theme::partials.request-form' %}
            </div>
            <div class="modal-footer">
                <div class="buttons">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-success" id="submit-form">Записаться</button>
                </div>
                <div class="info text-center">
                    <small>Заполнение заявки, Вас ни к чему не обязывает! Вы сможете отказаться в любой момент.</small>
                </div>
            </div>
        </div>
    </div>
</div>
