<table border="0" cellspacing="0" cellpadding="0" class="Table1 table table-bordered table-striped">
    <thead>
        <tr>
            <th width="65%">
                <p><span class="T1">{{ heading.0 }}</span></p>
            </th>
            <th>
                <p><span class="T1">{{ heading.1 }}</span></p>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <p>
                        <a href="{{ url(item.path) }}" class="Internet_20_link">
                            {{ item.title }}
                        </a>
                    </p>
                </td>
                <td>
                    <p>от {{ item.price }} руб.</p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
