<table border="0" cellspacing="0" cellpadding="0" class="Table1 table table-bordered table-striped">
    <thead>
        <tr>
            <th width="65%">
                <p><span class="T1">Виды санитарных книжек</span></p>
            </th>
            <th>
                <p><span class="T1">Новая</span></p>
            </th>
            <th>
                <p><span class="T1">Продление</span></p>
            </th>
            <th>
                <p><span class="T1">&nbsp;</span></p>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in entries('pages', 'pages').where('parent_id', '14').get().visible() %}
            <tr>
                <td>
                    <p>
                        {# <a href="{{ url(item.path) }}" class="Internet_20_link"> #}
                            {{ item.title }}
                        {# </a> #}
                    </p>
                </td>
                <td>
                    <p>от {{ item.price }} руб.</p>
                </td>
                <td>
                    <p>от {{ item.prolognation_price }} руб.</p>
                </td>
                <td>
                    <p>
                        <a href="{{ url(item.path) }}" class="Internet_20_link">
                            подробнее
                        </a>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
