<form class="zapis-na-priem" name="zapis-na-priem">
    <div class="info text-center">
        Запишитесь на прием и забронируйте, удобное для вас время посещения.
    </div>
    <div class="form-group">
        <label for="name-field">Имя</label>
        <input
            id="name-field"
            class="form-control"
            type="text"
            name="name"
            placeholder="Ваше имя"
        />
    </div>
    <div class="form-group">
        <label for="phone-field">Телефон</label>
        <input
            id="phone-field"
            class="form-control"
            type="text"
            name="phone"
            placeholder="+ 7 (999) 999-99-99"
        />
    </div>
    <div class="form-group radios">
        <div class="radio">
            <label>
                <input type="radio" name="age" id="adult" value="adult" checked>
                Взрослый
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="age" id="child" value="child">
                Ребенок (до 18 лет)
            </label>
        </div>
    </div>
</form>
