<div class="side-menu-wrap">
    {% for chapter in entries('pages', 'pages').where({'parent_id': 3}).get() %}
        <div class="side-menu-block">
            <div class="h4">
                <a href="{{ url(chapter.path) }}">{{ chapter.title }}</a>
                <i class="fa fa-plus"></i>
                <i class="fa fa-minus"></i>
            </div>
            <ul>
                {% for service in entries('pages', 'pages').where({'parent_id': chapter.id}).get().visible() %}
                    <li>
                        <a href="{{ url(service.path) }}">{{ service.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
