<ul class="header-links">
    {% for link in links('main_menu').get() %}
        <li>
            <a title="{{ link.title }}" href="{{ link.url }}"
                class="{% if link.url == url_current() %}active{% endif %}">
                {{ link.title }}
            </a>
        </li>
    {% endfor %}
</ul>
