{% if not request_ajax() %}
<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

<head>
    {% block metadata deferred %}
        {% include "theme::partials/metadata" %}
    {% endblock %}
</head>

<body>

    <div class="page-container">
        {% include "theme::partials/header" %}

        <main id="main">
            {% include "theme::partials/messages" %}

            <div class="main container">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0">
                        {% include "theme::partials/side-menu" %}
                    </div>
                    <div class="col-xs-12 col-sm-9 content" id="ajax-container">
{% endif %}

                        {% block content %}{% endblock %}

{% if not request_ajax() %}
                    </div>
                </div>
            </div>
        </main>

        {% include "theme::partials/footer" %}
    </div>

    {% block js deferred %}
        {% include "theme::partials/js" %}
    {% endblock %}

</body>
</html>
{% endif %}
