{% extends post.type.theme_layout.key %}

{% block content %}
    <div id="posts">
        <div class="row">

            {% if post.type.slug == 'article' and post.show_right_menu.value %}
            <div class="col-sm-9 col-xs-12">
            {% else %}
            <div class="col-sm-12">
            {% endif %}

                <article id="post">
                    <header>
                        <h1>{{ post.title }}</h1>
                    </header>
                    <div class="content">
                        {% block post %}
                            {{ content|raw }}
                        {% endblock %}
                    </div>
                </article>

            </div>

            {% if post.type.slug == 'article' and post.show_right_menu %}
                <div class="col-xs-12 col-sm-3 side-categories-menu">
                    {% include 'theme::partials/blog-cats' %}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
