<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>
    {{ title ?: config('app.name') }}
  </title>
  <style type="text/css" rel="stylesheet" media="all">
  /* Media Queries */

  @media only screen and (max-width: 500px) {
    .button {
      width: 100% !important;
    }
  }
  </style>
</head>
{% set style = { 'body': 'margin: 0; padding: 0; width: 100%; background-color: #F2F4F6;', 'email-wrapper': 'width: 100%; margin: 0; padding: 0; background-color: #F2F4F6;', 'email-masthead': 'padding: 25px 0; text-align: center;', 'email-masthead_name': 'font-size: 16px; font-weight: bold; color: #2F3133; text-decoration: none; text-shadow: 0 1px 0 white;', 'email-body': 'width: 100%; margin: 0; padding: 0; border-top: 1px solid #EDEFF2; border-bottom: 1px solid #EDEFF2; background-color: #FFF;', 'email-body_inner': 'width: auto; max-width: 570px; margin: 0 auto; padding: 0;', 'email-body_cell': 'padding: 35px;', 'email-footer': 'width: auto; max-width: 570px; margin: 0 auto; padding: 0; text-align: center;', 'email-footer_cell': 'color: #AEAEAE; padding: 35px; text-align: center;', 'body_action': 'width: 100%; margin: 30px auto; padding: 0; text-align: center;', 'body_sub': 'margin-top: 25px; padding-top: 25px; border-top: 1px solid #EDEFF2;', 'anchor': 'color: #3869D4;', 'header-1': 'margin-top: 0; color: #2F3133; font-size: 19px; font-weight: bold; text-align: left;', 'paragraph': 'margin-top: 0; color: #74787E; font-size: 16px; line-height: 1.5em;', 'paragraph-sub': 'margin-top: 0; color: #74787E; font-size: 12px; line-height: 1.5em; max-width: 570px; word-wrap: break-word;', 'paragraph-center': 'text-align: center;', 'button': 'display: block; display: inline-block; width: 200px; min-height: 20px; padding: 10px; background-color: #3869D4; border-radius: 3px; color: #ffffff; font-size: 15px; line-height: 25px; text-align: center; text-decoration: none; -webkit-text-size-adjust: none;', 'button--green': 'background-color: #22BC66;', 'button--red': 'background-color: #dc4d2f;', 'button--blue': 'background-color: #3869D4;' } %} {% set fontFamily = 'font-family: Arial, \'Helvetica Neue\', Helvetica, sans-serif;' %}

<body style="{{ style['body'] }}">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="{{ style['email-wrapper'] }}" align="center">
        <table width="100%" cellpadding="0" cellspacing="0">
          {% block logo %}
          <!-- Logo -->
          <tr>
            <td style="{{ style['email-masthead'] }}">
              <a style="{{ fontFamily }} {{ style['email-masthead_name'] }}"
                href="{{ url('/') }}"
                target="_blank"
              >
                {{ title ?: config('app.name') }}
              </a>
            </td>
          </tr>
          {% endblock %}
          {% block body %}
          <!-- Email Body -->
          <tr>
            <td style="{{ style['email-body'] }}" width="100%">
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center" valign="top">
                    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="background:#FFF;" class="main">
                      <tr>
                        <td align="left" valign="top">
                          <table width="584" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left">
                            <tr>
                              <td height="80" align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="left" valign="top" style="font:Normal 36px Arial, Helvetica, sans-serif;color:#7a7a7a; line-height:36px;" mc:edit="welcome-title">
                                <multiline>Новая заявка на запись</multiline>
                              </td>
                            </tr>
                            <tr>
                              <td align="left" valign="top" style="font:Normal 15px Arial, Helvetica, sans-serif;color:#737475; line-height:24px; padding:15px 0px;" mc:edit="welcome-inner">
                                <multiline>{{ req.name }}</multiline>
                              </td>
                            </tr>
                            <tr>
                              <td align="left" valign="top" style="font:Normal 15px Arial, Helvetica, sans-serif;color:#737475; line-height:24px; padding:15px 0px;" mc:edit="welcome-inner">
                                <multiline>{{ req.phone }}</multiline>
                              </td>
                            </tr>
                            <tr>
                              <td align="left" valign="top" style="font:Bold 13px Arial, Helvetica, sans-serif;color:#737475; line-height:24px;" mc:edit="welcome-more">
                                <multiline>
                                  <a href="tel:{{ req.phone }}" style="color:#19a3eb;text-decoration:none;">Позвонить</a>
                                </multiline>
                              </td>
                            </tr>
                            <tr>
                              <td height="25" align="left" valign="top" style="font:Bold 13px Arial, Helvetica, sans-serif;color:#737475; line-height:24px;">&nbsp;</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          {% endblock %}
          {% block footer %}
          <!-- Footer -->
          <tr>
            <td>
              <table style="{{ style['email-footer'] }}" align="center" width="570" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="{{ fontFamily }} {{ style['email-footer_cell'] }}">
                    <p style="{{ style['paragraph-sub'] }}">
                      &copy; {{ 'now'|date('Y') }}
                      <a style="{{ style['anchor'] }}" href="{{ url('/') }}" target="_blank">{{ config('app.name') }}</a>. All rights reserved.
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          {% endblock %}
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
