{% extends layout('posts') %}

{% block content %}
    <div id="posts">
        <div class="inner">
            <div class="row">
                <div class="col-xs-12 col-sm-9">

                    <h1>{{ category.title }}</h1>

                    {% if category.description %}
                        <p>{{ category.description|raw }}</p>
                    {% endif %}

                    {% if category.editor %}
                        <p>{{ category.editor|raw }}</p>
                    {% endif %}

                    {% set posts = category.posts().live().paginate() %}

                    {% include "theme::posts.partials.posts" with {"posts": posts} %}

                    {{ posts.links|raw }}

                </div>
                <div class="col-xs-12 col-sm-3 side-categories-menu">
                    {% include 'theme::partials/blog-cats' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
