@import "variables";
@import "mixins";

@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/* Main */

html,
body {
    overflow-x: hidden;
}

body {
    height: 100%;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $gray-dark;
    overflow-y: hidden;
    padding-right: 0 !important;
    position: relative;
}

.modal {

    .modal-body {
        padding: 0 30px;
    }

    .info {
        margin: 10px 100px;
    }

    .radios {
        margin-left: 15%;
        margin-right: 15%;
        text-align: center;

        .radio {
            margin: 0 20px;
            display: inline-block;
            text-align: center;
        }
    }

    .buttons {
        text-align: center;
    }
}

a {
    color: $gray-light;
    transition: all .4s ease-out;

    &:hover, &:focus, &:active {
        outline: none;
        text-decoration: none;
    }

    &:hover {
        color: $brand-primary-darker;
    }
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

.btn {

    &:active,
    &:focus,
    &.active {
        outline: none;
    }
}

textarea {
    resize: none;
}

sup,
.required {
    color: red;
}

.container {
    padding-right: 0;
    padding-left: 0;
    width: 1170px;
    max-width: none !important;
}

.page-container {
    background: rgba(250, 250, 250, 0.1);
    box-shadow: inset rgba(38, 198, 218, 0.1) 0px 0px 90px 5px;
    max-width: 1250px;
    margin: 0 auto 30px;
    position: relative;
    z-index: 0;
}

.loading {
    text-align: center;

    img {
        margin-top: 130px;
    }
}

.blue {
    color: $brand-primary;
}

/* Header */

.header-top {
    position: relative;
    margin-top: -5px;
}

.modal-open-box {
    position: absolute;
    bottom: 10px;
    right: 18px;
    border: 3px solid;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 1.1em;
    color: #E91E63;
    font-weight: bold;
    cursor: pointer;
}

.content .modal-open-box {
    position: relative;
    width: 220px;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.header-logo {
    float: left;
    margin-left: 23px;
    margin-top: 25px;

    img {
        width: 242px;
        height: 100%;
    }
}

.search-form {
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 16px;

    .fa {
        margin-right: 7px;
        font-size: 18px;
    }

    input[type="text"] {
        background: rgba(255, 255, 255, 0.33) none repeat scroll 0 0;
        border: 2px solid $gray-lighter;
        border-radius: 0;
        color: $gray-light;
        display: inline-block;
        padding: 9px 10px 10px 13px;
        width: 480px;
    }

    button {
        background: $brand-primary;
        display: inline-block;
        color: $body-bg;
        border: none;
        text-align: center;
        padding: 13px 27px 12px 34px;
        margin: 0 0 3px -4px;
        border-radius: 0;
        transition: all 0.4s ease-out;
        box-shadow: rgba(0, 0, 0, 0.17) 0 0 0;

        &:hover {
            color: $body-bg;
            background: $gray-base;
        }
    }
}

.sisea-highlight {
    color: $brand-primary;
}

.header-phone {
    float: right;
    margin: 19px 15px 0 0;

    .phone {
        color: $brand-primary;
        font-size: 23px;
        margin-bottom: 16px;
    }

    .addr {
        color: $gray-light;
        font-size: 14px;
        margin: 7px 0 10px 0;
    }
}

.header-contact_link,
.header-contact_link:hover,
.header-contact_link:focus {
    display: block;
    color: $gray-light;
    line-height: 1.5;
}

header.container {
    position: relative;
}

.header-bottom {
    border-bottom: 3px solid $brand-primary;
    margin: 5px 0 0 270px;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: $brand-primary;
        position: absolute;
        top: calc(100% - 3px);
    }

    &:before {
        left: -100%;
    }

    &:after {
        right: -100%;
    }
}

/* Top Nav */

@media (max-width: $screen-xs) {
    .header-links li a {
        padding: 16px;
    }
}

.header-links {
    list-style-type: none;
    margin: 0 3px -3px 0;
    padding: 12px 0 0 33px;
    text-align: right;
    position: relative;
    z-index: 2;
    line-height: 1;

    li {
        text-transform: capitalize;
        display: inline-flex;
        padding: 0;
        margin: 0 -3px;

        a {
            border: 3px solid $gray-lighter;
            border-bottom: 0;
            color: $gray-light;
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.35;
            margin-bottom: 3px;
            padding: 5px 1.55rem;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .4s ease-out;

            &:hover,
            &.active {
                border-color: $brand-primary;
                color: $gray-base;
                background: #fff;
                z-index: 5;
                padding-bottom: 8px;
                margin-bottom: 0;
            }
        }

        &:first-child {
            border: none;

            a {
                z-index: 2;
            }
        }
    }
}

.header-appointment {
    display: none;
}

.header-metro:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 11px;
    margin-right: 4px;
    background-image: url('/img/metro_logo.png');
}

.header-map {
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin: 10px 15px 0 0;
    color: $gray-light;
}

.header-address {
    float: right;
    padding-right: 30px;
    margin: 22px 30px 0 0;
    color: $gray-light;
    border-right: 1px solid $btn-default-border;
    max-width: 311px;
}

.header-hours {
    margin: 0;
}

#main {
    padding: 0;
}

/* Side Menu */

.side-menu-wrap {
    margin-top: -50px;
    border-top: 1px solid transparent;
    padding-top: 12px;
}

.side-menu-block {
    margin-bottom: 10px;
    height: 35px;
    transition-property: height;
    transition-delay: .4s;

    .h4 {
        background: $brand-primary;
        margin-bottom: 3px;
        font-size: 15px;
        font-weight: 200;
        line-height: 1.2;
        color: white;
        text-transform: uppercase;
        padding: 5px 12px 7px;
        margin: 0 0 2px 0;
        cursor: pointer;
        position: relative;

        a {
            color: #f5f5f5;
            font-weight: 200;
            font-size: 2.1rem;
            font-family: $headings-font-family;
        }

        .fa {
            position: absolute;
            padding: 11px 9px;
            right: 0;
            top: 0;
            margin-top: 0;
            transition: transform .4s linear;
            transform-origin: center;
        }
    }

    ul {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        transform-origin: top center;
        transition: all .4s linear;
        transform: rotateX(90deg);

        li {
            width: 100%;
            border-top: 2px solid $body-bg;
            position: relative;
            list-style: none;

            a,
            a:hover {
                font-size: 1.35rem;
                line-height: 1.35;
                display: block;
                padding: 8px 10px;
                background: #EEEEEE;
                position: relative;
                z-index: 1;
                overflow: hidden;
                position: relative;
                user-select: none;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                border: none;
            }

            &.expanded > a {
                color: $brand-primary;
                background: $brand-primary-lighter;
            }
        }
    }

    &.expanded {
        height: 100%;
        transition-delay: 0;

        ul {
            transform: rotateX(0deg);
        }

        .fa.fa-plus {
            transform: rotateX(90deg);
        }
    }

    .inner-wrap {
        position: relative;

        .fa {
            font-size: 15px;
            position: absolute;
            color: $gray-base;
            top: 1px;
            right: 2px;
            z-index: 10;
            transform: rotate(180deg);
            transition: all .4s linear;
            cursor: pointer;
            padding: 6px 9px;

            &.unturn {
                color: $gray-most-lighter;
                transform: rotate(0deg);
                top: -2px;
            }
        }
    }

    .inner {
        display: none;
        margin-top: 2px;
        padding: 3px 0;
        font-size: 13px;
        border: 1px solid $gray-lighter;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);

        a {
            background-color: transparent;

            &:hover {
                background: $gray-most-lighter;
            }

            &.opened {
                background: $brand-primary;
                color: $gray-most-lighter;
            }
        }
    }
}

/* Breadcrumbs */

.bc-wrap {
    text-align: right;
}

.B_crumbBox {
    font-size: 12px;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10;

    .crumbs-arrows-wrapper {
        margin:0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a:hover {
        color: $gray-light;
    }
}

.B_firstCrumb {
    font-size: 18px;
}

li.B_lastCrumb {
    margin: 0;
}

/* Main content */

.content {
    font-size: $font-size-base;

    > h1 {
        padding-left: 10px;
        width: 75%;
    }

    ul {
        margin-top: 10px;
        margin-bottom: 10px;
        list-style: circle;
        line-height: 1.5;
    }

    h4 {
        color: $gray-dark;
    }

    /* Articles categories menu */

    .side-categories-menu {

        .h4 {
            color: $body-bg;
            cursor: default;
        }

        .articles-cats {
            list-style: none;
            margin-top: 0;
            padding: 0;
            font-size: 1.75rem;

            li {
                margin-bottom: 10px;
                line-height: 1.35;

                a {
                    color: $gray-light;
                    background-color: transparent;

                    &:hover {
                        color: $brand-primary;
                    }
                }
            }
        }
    }

    .news-list-items-block .side-categories-menu {
        top: -65px;
    }

    .right-box {
        position: absolute;
        right: 0;
    }

    .table {
        margin-bottom: 10px;
        overflow-x: scroll;

        th,
        tr.colored {
            font-weight: bold;
            background-color: $brand-primary-lighter;
            border: none;
            color: #5D5D5D;
        }
    }

    .tableclear {
        background-color: none;
    }
}

.recommend {

    .text {
        font-size: 13px;
    }

    .links a {
        margin-top: 10px;
    }
}

.postinfo {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 8px;

    .article-section {
        margin-right: 10px;
    }
}

/* Slider */

.slider-wrap {
    padding-top: 0;
    overflow: hidden;
    position: relative;

    .owl-controls {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        z-index: 10;
        pointer-events: none;

        .owl-buttons {
            font-family: mcmp;
            position: relative;
            height: 100%;

            div {
                pointer-events: all;
                position: absolute;
                background: none;
                zoom: 2;
                font-size: 8px;
                top: 0;
                margin: 0;
                height: 100%;
                transition: all 0.4s ease-out;
                opacity: 0;
                padding: 0 10px;
                cursor: pointer;

                &:hover {
                    color: $brand-primary;
                    opacity: 1;
                }

                &:before {
                    position: absolute;
                    top: 95px;
                }
            }

            .fa {
                margin-top: 85px;
                font-size: 14px;
            }

            .owl-prev {
                left: 0;

                &:hover {
                    background: linear-gradient(90deg, $input-border 0%, rgba(174, 174, 174, 0) 100%);
                }
            }

            .owl-next {
                right: 0;

                &:hover {
                    background: linear-gradient(-90deg, $input-border 0%, rgba(174, 174, 174, 0) 100%);
                }
            }
        }
    }

    .slide-item {
        width: 100%;
        height: 387px;
        max-width: 1910px;
        margin: 0 auto;
        position: relative;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;

        .float-price {
            position: absolute;
            font-size: 2rem;
            font-weight: bold;
            color: #326880;
        }
    }
}

/* Main page */

.big-list {
    margin-bottom: 30px;

    > div {
        margin-top: 30px;
    }

    img {
        transition: all .2s linear;

        &:hover {
            box-shadow: 4px 11px 23px 0 rgba(122, 122, 122, 0.61), 0 4px 11px 0 rgba(160, 160, 160, 0.38);
        }

        &:active {
            box-shadow: none;
        }
    }
}

/* Page */

.title {
    padding: 0 0 0 0;
    margin: 0 0 20px 0;
    font-size: 25px;
    color: $gray-dark;
    text-transform: uppercase;

    a {
        color: $gray-dark;

        &:hover {
            color: $brand-primary;
        }
    }
}

/* List style */

.news-list-item {
    border-bottom: 1px solid $gray-lighter;

    &:last-child {
        border-bottom: none;
    }

    .title {
        font-size: 21px;
        text-transform: none;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .date {
        font-size: 14px;
        margin-bottom: 5px;
        color: $brand-primary;
    }

    .text {
        margin-bottom: 15px;
    }
}

/* Contacts */

.contacts-page {
    margin-bottom: 40px;

    i {
        font-size: 20px;
        color: $brand-primary;
        float: left;
        width: 20px;
        text-align: center;
    }

    .fa-map-marker {
        font-size: 30px;
    }

    .text {
        float: right;
        width: 80%;
        line-height: 1.5;
    }

    .block {
        margin-top: 10px;
    }
}

#map {
    background-color: $btn-default-border;
}

.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.dummy {
    display: none;
}

/* Contact form */

.form-box {
    padding: 40px 0 20px 0;
    margin: 0 0 30px 0;
    background: url('/img/contact-form.png') repeat-x white;
    box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px;

    label {
        padding-left: 8px;
    }

    input[type="text"],
    textarea {
        padding: 3px 5px;
        margin-bottom: 10px;
        height: 27px;
        box-shadow: none;
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 1.42857;
        color: $gray-dark;
        vertical-align: middle;
        background-color: white;
        border: 1px solid $btn-default-border;
        border-radius: 0px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    textarea {
        margin-top: 20px;
        height: 190px;
    }

    input[type="submit"] {
        border-radius: 0;
        margin-top: 15px;
        padding: 4px 15px;
    }
}

/* Prices */

.prices-title {
    font-size: 18px;
    padding: 5px 10px;
}

.prices-box {
    width: 100%;
    padding: 10px 10px;
    background-color: $brand-primary-lighter;
    margin-bottom: 20px;

    .list-item {
        border-bottom: 0px solid #cacaca;
        padding: 4px 10px;

        &:last-child {
            border: none;
        }

        > div {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .name {
        width: 79%;
        font-size: 16px;
        position: relative;
    }

    .price,
    .price-sale,
    .time {
        width: 20%;
        font-size: 16px;
        font-weight: bold;
        text-align: right;
    }

    &.san {

        .name {
            width: 60%;
        }

        .price {
            width: 12%;
        }

        .time {
            width: 14%;
        }

        .price-sale {
            width: 12%;
        }

        .sum .name {
            width: 87%;
        }
    }

    &.analizy {

        .sku {
            width: 10%;
        }

        .name {
            width: 41%;
            margin-left: 1%;
        }

        .time {
            width: 31%;
        }

        .add {
            font-size: 30px;
            width: 5%;
            text-align: center;
            cursor: pointer;
            color: $gray-base;
        }

        .del {
            font-size: 30px;
            width: 5%;
            text-align: center;
            cursor: pointer;
            color: $brand-primary;
        }
    }

    &.dop-usl {
        background-color: #e7fbd1;
    }

    &.search {
        background-color: transparent;

        .name {
            width: 60%;
        }

        .time {
            width: 19%;
        }

        .price {
            width: 19%;
        }
    }
}

/* Footer */

footer {
    padding: 40px 0 20px;
    border-bottom: 1px solid #eaeaec;

    .col-xs-3 {
        padding-left: 30px;
    }

    .title {
        font-size: 20px;
        border-bottom: 1px solid $gray-lighter;
        margin-bottom: 0;
        padding-bottom: 15px;
    }

    .cont {
        padding-top: 15px;
    }

    ul {
        padding: 0;
    }

    li {
        margin-top: 14px;
    }

    .contacts-page {
        margin: 0;

        i {
            margin-top: 9px;
        }

        .text {
            width: 86%;
        }

        .fa-map-marker {
            line-height: .6;
        }
    }
}

.bottom {
    padding: 0 0 30px;
}
.copy {
    padding: 20px 0;
}
// .counter {
//     padding-top: 10px;
// }
.credit {
    float: left;
    padding-right: 50px;
}
a.sitemap {
    padding-top: 15px;
    display: block;
}

/*CUSTOM*/

.btn-tab.-popup {
    font-size: 14px;
    line-height: 26px;
    padding: 0 7px;
    text-transform: uppercase;
    color: #ff5050;
    border: 1px solid #ff9393;
    border-radius: 5px;
    cursor: pointer;
}

.overlay__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease-out;

    &.-hidden {
        opacity: 0;
        visibility: hidden;
    }
}

.overlay__inner {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.popup__content {
    position: relative;
    display: inline-block;
    width: 500px;
    transition: all 0.3s ease-out;

    &.-hidden {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

.popup__close {
    position: absolute;
    top: 0;
    right: -35px;
    width: 27px;
    height: 26px;
    background-image: url('/img/popup_close.png');
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }
}

.form-box.appointment {
    text-align: left;
    margin: 0;
    padding: 40px;
    background: $body-bg;

    .help-block.form-error {
        line-height: 30px;
        display: inline-block;
        vertical-align: bottom;
        margin: 0 0 0 15px;
    }

    .suc-mess {
        text-align: center;

        .title {
            font-size: 17px;
            margin: 0 0 10px 0;
        }

        p {
            margin: 0;
        }
    }
}

.ymaps-controls-pane {
    display: none;
}


.float-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.float-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.align-center {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.underlined-text {
   text-decoration: underline;
}

.bold-text {
   font-weight: bold;
}

.content {

    img {
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 100%;
    }

    sup {
        color: $gray-dark;
    }
}

.clearfix {

    &:after {
      content: ".";
      clear: both;
      display: block;
      height: 0;
      font-size: 0;
      visibility: hidden;
    }

    &:before {
      content: ".";
      clear: both;
      display: block;
      height: 0;
      font-size: 0;
      visibility: hidden;
    }
}

.service-drop-block {
    padding: 10px 10px 10px 25px;
    border-bottom: 1px dashed $gray;
    margin-bottom: 10px;
}

.service-drop-title {
    color: $brand-primary;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;

    &:hover {
        text-decoration: underline;
    }

    &:before {
        content: "+";
        position: absolute;
        left: -25px;
        width: 20px;
        height: 21px;
        padding: 0px 6px;
        background: #ccc4c4;
        color: $gray-base;
    }
}

.__dropped-content:before {
    content: "—";
    padding: 0px 5px;
}

.service-drop-content {
    padding: 10px;
    display: none;
}

.main-partners:hover {
    box-shadow: 0px 0px 5px #dadada;
}

td {
    text-align: right;

    &.first {
      text-align: left;
      width: 55%;
    }

    p {
      margin: 0;
    }
}

.meditsinskaya-knizhka .main-license {
    width: 50%;
    float: right;
    margin: 20px 0 20px 20px;
}

.documents-wrapper {
    border: 2px solid #bfbfbf;
    padding: 10px 15px;
}

.documents-item {
    float: left;
    width: 25%;
    text-align: center;
}

.documents-image {
    max-width: 209px;
}

.documents-text {
    width: 145px;
    font-size: 13px;
    line-height: 14px;
    margin: 0 auto;
}

.content .form-box.appointment {
    background: #cfe9f8;
    width: 500px;
}

.route.block {

    .head {
        padding-left: 8px;
    }
}

.additional-info {
    padding-top: 15px;

    .inner {
        color: $brand-primary-darker;
    }
}

table.routes {
    width: 100%;
    margin: 0 0 20px;
    font-size: 1.75rem;

    thead {
        font-weight: bold;

        th {
            text-align: right;
        }
    }

    th, td {
        padding: 5px 20px;
    }

    th {
        background: $gray-lighter;
    }

    tr,
    td {
        background: $body-bg;
    }
}

ymaps .address.block .fa {
    font-size: 3.5em;
    padding-left: 15px;
}

@media (max-width: $screen-lg-min) {

    body:before {
        -moz-transform: translateY(1px);
        transform: translateY(-2px);
    }

    .header-bottom {
        margin: 15px 0 0 0;

        .header-links {
            width: 100%;
            padding: 0;
            text-align: center;
        }
    }

    .container {
        width: 95%;
    }

    .side-menu-wrap {
        margin-top: -5px;

        .side-menu-block {
            margin-bottom: 5px;

            .h4 {
                line-height: 1.3;
                padding: 7px 8px 5px;

                a {
                    font-size: 1.75rem;
                    white-space: nowrap;
                }
            }
        }
    }
}

@media (max-width: $screen-md-min) {

    body:before {
        -moz-transform: translateY(-2px);
        transform: translateY(-5px);
    }

    .header-bottom {

        .header-links {

            li {

                a {
                    font-size: 1.4rem;
                    padding: 5px .7rem;
                }
            }
        }
    }
}

@media (max-width: 800px) {

    header {

        .modal-open-box {
            right: inherit;
            left: 18px;
        }
    }
}

@media (max-width: $screen-sm-min) {

    body:before {
        display: none;
    }

    .header-top {

        > [class^="header-"] {
            float: none;
            text-align: center;
            margin: 10px 0;
            padding: 0;
            border: none;
            max-width: none;

            > a {
                display: block;

                > img {
                    width: 242px;
                    height: 100%;
                }
            }

            .ya-phone {
                margin-bottom: 0;
            }

            .header-appointment {
                display: none;
            }
        }
    }

    .header-bottom {
        margin: 0;

        .header-links {
            padding: 0 0 0 20px;
            margin: 0 0 -3px 0;

            li  {
                border-bottom: 3px solid $gray-lighter;

                a {
                    padding: 5px .7rem 7px;
                    margin-bottom: -3px;

                    &:hover,
                    &.active {
                        padding-bottom: 7px;
                    }
                }
            }
        }
    }

    .docs {
        text-align: center;
    }

    footer {

        .wrap {
            text-align: center;

            .title {
                padding-bottom: 0;
                padding-top: 8px;
                border-bottom: none;
                border-top: 2px solid #eaeaec;
            }

            .cont {
                padding-top: 0;
                margin-bottom: 15px;

                li {
                    margin-top: 12px;
                }
            }
        }

        .contacts-page {
            margin-left: 16.6666666667%;

            .block {
                position: relative;

                .fa {
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                .text {
                    width: 100%;
                }
            }
        }
    }

    .modal-open-box {
        position: fixed;
        background-color: #e91e63;
        width: 50px;
        height: 50px;
        bottom: 10px;
        right: 20px;
        border-radius: 50%;
        padding: 0;
        text-indent: -99999px;
        z-index: 100;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 7px;
            left: 20px;
            width: 4px;
            height: 30px;
            background-color: #fff;
            transform-origin: center;
        }

        &:after {
            transform: rotate(90deg);
        }
    }
}

@media (max-width: $screen-xs-min) {

    .header-bottom {

        .header-links {
            padding: 0;

            li {
                display: inherit;
                margin: 0;
                padding: 0;
                border-bottom-color: transparent;

                &.active {

                    a {
                        margin-top: -3px;
                    }
                }

                a {
                    border-left-color: transparent;
                    border-right-color: transparent;
                }
            }
        }
    }

    .col-xs-8.col-xs-offset-2 {
        width: 95%;
        margin-left: 2.5%;
    }
}
